<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="none">
  <test thread-count="1" name="Test" parallel="none">
    <classes>
      <class name="com.eurowings.runner.FlightStatusTests"/>
      <class name="com.restassured.api.restAPI"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
